.blink-section {
    display: flex;
    justify-content: center;
    gap: 3rem;
    width: 80%;
}

.bulb-rim {
    width: 3.4rem;
    height: 3.4rem;
    border-radius: 50%;
    background-color: brown;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blink-bulb {
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
}