.main-controls {
    width: 99%;
    height: calc(100% - 2rem);
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
}

.top-controls {
    height: 45%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.blinks-row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

.down-controls {
    display: flex;
    justify-content: space-between;
    height: 55%;

}

.left-down-controls {
    display: flex;
    width: 33.33%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.center-down-controls {
    display: flex;
    width: 33.34%;
    height: 100%;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}

.right-down-controls {
    display: flex;
    width: 33.33%;
    height: 100%;
    justify-content: flex-end;
    gap: 5rem;
    align-items: center;
}

/* .controls {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} */