.power-btn-conteiner {
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

}


.power-btn {
    all: unset;

    width: 13rem;
    height: 13rem;

    background-color: var(--blue-200);
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
}