.main-font-title {
    font-family: 'Parisienne', cursive;
    font-size: 4.6rem;
}

.main-font-text {
    font-family: 'Parisienne', cursive;
    font-size: 2.4rem;
}

.large-input-font {
    font-family: 'Nunito', sans-serif;
    font-size: 6rem;
    font-weight: 600;
    
    color: var(--wood-palette-600);
}

.small-input-font {
    font-family: 'Nunito', sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
    
    color: var(--wood-palette-600);
}

.small-label-font {
    font-family: 'Nunito', sans-serif;
    font-size: 1.2rem;
    font-weight: 400;

    color: var(--wood-palette-600);
}

.small-disclaimer {
    font-family: 'Nunito', sans-serif;
    font-size: 0.9rem;
    color: var(--wood-palette-600);
}