.main {
  display: flex;
  flex-direction: column;

  box-sizing: border-box;
  background-color: white;

  height: 100vh;
  width: 100vw;
}

.main-container {
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  height: calc(100% - 7rem);
  background-image: url(../assets/wood-pattern.png);
  width: 100%;
}