.bpm-ruler-main {
    width: 90%;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10%;
    position: relative;
}



.ruler-line {
    height: 4px;
    width: 100%;

    background-color: var(--wood-palette-600);
    outline: 2px solid var(--wood-palette-200);
    outline-style: outset;
    border-radius: 10px;   
}

.ruler-weight {
    height: 2.5rem;
    width: 2.5rem;

    background-color: var(--blue-200);

    border-radius: 50%;
    position: absolute;
}
