.fast-bpm-section {
    width: 3rem;
    height: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: relative;
}

.bpm-coeficient-input {
    width: 6rem;
    height: 6rem;
    text-align: center;
}



.up-arrow {
    transform: rotate(270deg);
    top: -6rem;
}

.left-arrow {
    transform: rotate(180deg);
    left: -6rem;
}

.right-arrow {
    right: -6rem;
}

.down-arrow {
    transform: rotate(90deg);
    bottom: -6rem;
}

