.fast-bpm-section {
    width: 10rem;
    height: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: relative;
}

.bpm-coeficient-input {
    width: 100%;
    height: 100%;
}


.arrow {
    width: 5rem;
    position: absolute;
}

.arrow:hover {
    cursor: pointer;
}

.up-arrow {
    transform: rotate(270deg);
    top: -6rem;
}

.left-arrow {
    transform: rotate(180deg);
    left: -6rem;
}

.right-arrow {
    right: -6rem;
}

.down-arrow {
    transform: rotate(90deg);
    bottom: -6rem;
}

